body {
    font-family: monospace;
    font-size: 20pt;
}

#header {
    margin: 0px;
    font-size: 9pt;
}

#header .metadata {
    color: yellowgreen;
}

#info {
    font-weight: bold;
    font-size: 12pt;
    white-space: nowrap;
}

#text {
    margin: 0px 5px;
}

.dark {
    visibility: hidden;
}
