body {
    font-family: monospace;
    font-size: 20pt;
}

#header {
    margin: 0px;
    font-size: 9pt;
}

#header pre {
    white-space: pre-wrap;
}

#info {
    font-weight: bold;
    font-size: 12pt;
    float: right;
}

#text {
    margin: 0px 5px;
}

.dark {
    color: white;
}
