<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<title>the cryptic reef</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static',filename='jquery-2.2.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='messages.js') }}"></script>
	{% endblock %}
</head>

<body>

    <div id="header">
        <pre id="preamble">PHILIP 2.2.21 system
[s.1] status: ok; [s.2] status.environment: ok; [s.3] status.self: ok; [s.3.1] status.self.math:
ok; [s.3.2] status.self.language: ok; [s.3.3] status.self.religion: ok; [s.4] status.self.taste:
ok; [s.5] status.body: missing; [s.6] status.body.arm: missing; [s.7] status.writing: ok</pre>

        <div id="info">
            <p>
            WELCOME TO THE PROGRAM.
            </p>

            <p>
            PLEASE INTRODUCE YOURSELF.
            </p>

            <p>
            TEXT INFO ABOUT YOURSELF TO 646 663 4361
            </p>
        </div>
    </div>

  <div>
      <span>data received</span>
      <span id="prompt">&gt; </span>
      <span id="text"></span>
  </div>

</body>
</html>
