<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<title>the cryptic reef</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static',filename='jquery-2.2.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='messages.js') }}"></script>
	{% endblock %}
</head>

<body>
  <div class="container">
    <pre id="header">
[3]_______________________________ \ ___| / __/ \ \__ \ / / \/ \ \ / / ___________ \ \ / / __/___________\__ \\ ./ /__ ___ /=================\ ___ __\ \. [4]-------&gt; ___||___|====|[[[[[|||||||]]]]]|====|___||___&lt;------[4] / / |=o=o=o=o=o=o=o=o=| &lt;-------------------[5] .' / \_______ _______/ \ `. : |___ |*| ___| : .' |\_________________ |*| _________________/ | `. : | ___________ ___ \ |*| / ___ ___________ | : : |__/ \ /\_\\*//_/ \ / \__| : : |______________:|:____:: **::****:|:********\ &lt;---------[6] .'/:|||||||||||||'`|;..:::::::::::..;|'`|||||||*|||||:\ `. [7]----------&gt; ||||||' .:::;~|~~~___~~~|~;:::.`|||||*|| &lt;-------[7] : |:|||||||||' .::'\ ..:::::::::::.. /`::. `|||*|||||:| : : |:|||||||' .::' .:::''~~~~``:::. `::. `|\***\|:| : : |:|||||' .::\ .::''\ | [9] | /``::: /::. `|||*|:| : [8]------------
    </pre>

    <div id="text">
    </div>

  <div id="prompt">&gt; </div>
  </div>
</body>
</html>
